*{
  box-sizing: border-box;  
  font-family: 'Calibri', sans-serif !important;
  padding: 0;
  margin: 0;
  }
body{
	background: rgb(230, 219, 219);
  font-family: 'Calibri', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
letter-spacing: 1px;
font-family: 'Poppins', sans-serif;
}
h1{
font-size: 26px;
}
h2{
font-size: 20px;
}
h3{
font-size: 18px;
}
h4{
font-size: 16px;
}
h5{
font-size: 14px;
}
h6{
font-size: 12px;
}
p{
letter-spacing: 2px;
font-size: 14px;
line-height: 20px;
}
a{
text-decoration: none;
letter-spacing: 1px;
}
span {
  letter-spacing: 1px;
  font-size: 14px;
line-height: 20px;
font-family: 'Poppins', sans-serif;

}
.header{
color: #FFF;
background: #000;
display: -webkit-flex;
display: -moz-flex;
display: -ms-flex;
display: -o-flex;
justify-content: space-between;
align-items: center;
padding: 20px;
font-weight: 800;
font-family: 'Calibri', sans-serif !important;
}
.logo{
position: absolute;
  margin: 0;
  left:5;
width: 45px;
}

header h1{
margin-left:55px;
font-size: 25pt;
}

header h4 a {
  color: #ffffff;
  font-size:15pt;
}

header h4 a:hover {
  color: #ededed9a;
  text-decoration: none;
  transition: 0.1s;
  
}

.ttl-pequeno{
  position: absolute;
  right: 340px;
  width: 115px;
}

.ttl-pequeno #dia{
  text-align: center;
  background: #000;
  color:#f1f1f1;
  font-size: 14pt;
}
.ttl-pequeno #dia:hover{
  background: #f1f1f1d3;
  color:#000;
}
.optionsBar{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  justify-content: center;
  align-items: center;
}
.optionsBar span {
  color: #FFF;
  font-size: 11pt;
  text-transform: uppercase;
  margin-left: 30px;

}

.photouser {
  margin-left: 30px;
  width: 25px;
  height: 25px;
}
a span.icon-gravatar{
  font-size: 25px;
}

.optionsBar a {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  margin-left: 30px;
}
nav ul, nav ol{
background:rgb(0, 153, 255);
list-style:none;
z-index: 50;
}


nav > li {
float:left;
}

ul li a{
color: #FFF;
padding: 15px 30px;
text-transform: uppercase;
letter-spacing: 2px;
transition: background .5s;
border-right: 1px solid white;
text-decoration:none;
display:block;
z-index: 50 !important;
font-size:13pt;
font-weight: 800;
font-family: 'Calibri', sans-serif !important;
}

ul a:hover{
background: rgba(3, 65, 182, 1);
color: white;
text-decoration: none;
}
nav li:hover > ul {
display:block;

}

nav li ul{
background-image: linear-gradient(180deg,rgb(0, 195, 255), rgb(0, 153, 255));
display: none;
position:absolute;
min-width:140px;
border-radius: 0 10px 10px 10px; 
}

nav ul li span {
font-size: 18px;
}

nav li ul li {
position:relative;

}

nav ul li ul li ul{
right:-260px;
top: 0;
}
nav li ul a{
padding: 10px 30px;
border-right: initial;
font-size:13pt;
}

nav li ul a:hover{
background: rgba(3, 65, 182, 1);
}

header, nav ul li {
z-index: 50;
}

.circle{
	width: 100%;
	position: fixed;
	height: 200vh;
	border-radius: 100%;
	left: -40%;
	top: 0%;
	z-index: -1;
}
.container-all{
  max-width: 1500px;
  margin: 10px auto;
}
  .container-box{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
  }
  .container-box a{
  text-decoration: none;
  color: black;
}
.box{
  width: 350px;
  height: 180px;
  padding: 10px;
  margin: 40px;
  background: #fff;
  text-align: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 900ms;
  font-family: 'Calibri', sans-serif !important;
  border-radius: 5px;
}

.box:hover{
  transform: translate(5px, -5px);
  box-shadow: -10px 10px 20px -10px rgba(0,0,0, 0.5);
}
.box .icon,
.box h4,
.box p{
  position: relative;
  z-index: 1;
  transition: all 300ms;
}
 
.box .icon{

  width: 60px;
  transform: translateY(30px);
 }
.box:hover .icon{
  width: 30px;
  transform: translateY(0px);

}
.box h4,
.box p{
margin-top: 10px;
}

.box h4{
  font-size: 30px;
  transform: translateY(30px);
}
.box:hover h4{
  transform: translateY(0px);
  color: white;


}
.box p{
  font-size: 14px;
  transform: translateY(100px);
  opacity: 0;
}
.box:hover p{
  transform: translateY(0);
  opacity: 1;
  font-size: 20px;
  color: white;
}

.box .background-hover{
  width: 550px;
  height: 550px;
  position: absolute;
  top: 250px;
  left: -100px;
  background: red;
  border-radius: 100%;
  transition:all 900ms;
  background: linear-gradient(to bottom, rgb(255,115,0), rgb(255,148,48));

}
.box:hover .background-hover{
  width:450px;
  height: 450px;
  top: -70px;
  left: -70px;

}
/*Identificador de Colores de las 6 cajas*/
/*Box1*/
.box1 .background-hover{
    background: linear-gradient(to bottom, rgb(223, 52, 52 ), rgb(223, 72, 82 ));
    top: -490px;
    left: -490px;

}
.box1 .icon{

  width: 80px;
  transform: translateY(30px);
 }

.box2 .background-hover{
    
    top: -550px;
    left: -250px;

}
.box2 .icon{

  width: 75px;
  transform: translateY(30px);
 }

.box3 .background-hover{
    background: linear-gradient(to bottom, rgb(86, 44, 126), rgb(85, 28, 85) );
    top: 600px;
    left: 170px;

}
.box3 .icon{

  width: 75px;
  transform: translateY(30px);
 }
.box4 .background-hover{
    background: linear-gradient(to bottom, rgb(21, 199, 247 ), rgb(21, 229, 298));
    top: -560px;
    left: -130px;

}
.box4 .icon{

  width: 75px;
  transform: translateY(30px);
 }
.box5 .background-hover{
    background: linear-gradient(to bottom, rgba(8, 214, 36, 0.877), rgb(19, 201, 19));
    top: 570px;
    left: -170px;

}
.box5 .icon{

  width: 65px;
  transform: translateY(30px);
 }


/* barra del scroll*/
*::-webkit-scrollbar {
    -webkit-appearance: none;
}

*::-webkit-scrollbar:vertical {
    width:10px;
}

*::-webkit-scrollbar-button:increment,body::-webkit-scrollbar-button {
    display: none;
} 

*::-webkit-scrollbar:horizontal {
    height: 10px;
}

*::-webkit-scrollbar-thumb {
    background:  rgba(0, 6, 87, 0.856);
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

*::-webkit-scrollbar-track {
    border-radius: 10px;  
}
.aceptar{
  background: rgb(58, 104, 255);
  color: #fff;
  padding: 2.5%;
  width: 23%;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  border: none;

}
.rows{
  width: 100%;
  display: flex;
  margin-bottom: 5%;
  margin-top: 2%;
  height: 10vh;
  text-align: center;
}
.rows h4{
  margin-left: 1%;
  margin-top: 2%;
}
.left{
  padding: 10px;
  border: solid #000 1px;
  margin-left: 1%;
  width: 50%;
  border-radius: 5px;
  border: solid rgb(175, 175, 175) 1px;
  resize: none;
  cursor: no-drop;
}
.right{
  padding: 10px;
  border: solid rgb(175, 175, 175) 1px;
  margin-left: 1%;
  border-radius: 5px;
  width: 50%;
  resize: none;
  cursor: no-drop;
}




/*Buscador de contenido*/

#ctn-icon-search{
  right: 20px;
  height: 80%;
  top: 0px;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
}

#ctn-icon-search i{
  font-size: 25px;
  display: none;
  cursor: pointer;
  transition: all 300ms;
}

#ctn-icon-search i:hover{
  color: #000;
}


#ctn-bars-search{
  top: 0px;
  margin: auto;
  border-radius: 50px;
  z-index: 9;
}

#ctn-bars-search input{
  display: block;
  margin: auto;
  padding: 10px;
  width: 90%;
  font-size: 18px;
  outline: 0;
  border-radius: 10px;
}

#box-search{
  top: 165px;
  width: 100%;
  z-index: 8;
  overflow-x:hidden;
  display: none;
  background: #f1f2f3;
}

#box-search li a{
  display: block;
  width: 1200px;
  color: #777777;
  padding: 5px;
}

#box-search li a:hover{
  background: #f1f2f3;
}

#box-search li a i{
  margin-right: 10px;
  color: #777777;
}


#cover-ctn-search{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  background: rgba(0,0,0,0.5);
  z-index: 7;
  display: none;
}

section div div.alerta{
  width: 100%;
  color: #ffffff; 
}
.msg_error{
  background: #fff;
  border-radius: 10px;
  padding: 10px;
  width: 25%;
  font-size: 25pt;
  z-index: 100000;
  right: 1%;
  top: 1%;
  position: absolute;
}
.msg_save{
  background:#fff;
  border-radius: 10px;
  width: 25%;
  padding: 10px;
  font-size: 25pt;
  z-index: 100000;
  right: 1%;
  top: 1%;
  position: absolute;
}
.success{
  width: 40%;
}
.alerta div{
  padding: 10px;
  position: fixed;
  background: rgba(0,0,0, 0.3);
  width: 100%;
  left: 0;
  color: #000;
  z-index: 100;
  top: 0;
  height: 100vh;
}
.pushbar-informe{
  width: 100%;
  background: none;
  height: 100vh;
  color: #000;
}
#form{
  width: 30%;
  background: #f1f2f3;
  padding: 5%;
  border-radius: 5px;
  margin: auto;
  min-width: 500px;
  min-height: 300px;
  margin-top: 5%;
}
#form h3{
  color: #000;
  text-align: center;
  top: -5vh;
  margin-top: -20%;
  margin-bottom: 10%;
}
#cerrar{
  background: none;
  font-size: 30pt;
  color: white;
  position: fixed;
  right: 0px;
  list-style: none !important;
  text-decoration: none;
  top: 5px;
  cursor: pointer;
  margin-right: 20px;
}
#cerrar1{
  float: right;
  margin-top: 10%;
}
@media screen and (max-width:1400px){
  #form{
    width: 40%;
  }
  #form h3{
    margin-top: -10%;
  }
  #cerrar1{
    margin-top: 5%;
  }
}